# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/engine/
ios/ServiceDefinitions.json

# macOS
macos/Flutter/Flutter.framework
macos/Pods/
macos/.symlinks/

# Web
lib/generated_plugin_registrant.dart

# Windows
windows/Flutter/ephemeral/

# Linux
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugin_registrant.cc

# VSCode / IntelliJ
.vscode/
.idea/

# Others
*.log
*.lock
*.iml